# Dart / Pub
.dart_tool/
.packages
build/
pubspec_overrides.yaml

# Serverpod & Sécurité (Très important)
**/config/passwords.yaml
**/web/app/
*.env
*.env.*
*.log

# Widget Preview
.widget_preview/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies

# IDE & Éditeurs
.idea/
.vscode/
*.iml

# Fichiers système
.DS_Store
Thumbs.db